@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-disabled: var(--disabled);
  --color-disabled-foreground: var(--disabled-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

button,
[role="button"],
a {
  cursor: pointer;
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.985 0.01 152);
  --foreground: oklch(0.145 0.02 152);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.02 152);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.02 152);

  --primary: oklch(0.527 0.17 152);
  --primary-foreground: oklch(0.985 0.02 152);

  --secondary: oklch(0.95 0.03 152);
  --secondary-foreground: oklch(0.205 0.03 152);

  --muted: oklch(0.94 0.025 152);
  --muted-foreground: oklch(0.45 0.03 152);

  --accent: oklch(0.92 0.04 152);
  --accent-foreground: oklch(0.205 0.03 152);

  --destructive: oklch(0.577 0.245 27);

  --border: oklch(0.88 0.035 152);
  --input: oklch(0.88 0.035 152);
  --ring: oklch(0.527 0.17 152);

  --disabled: oklch(0.97 0 0);
  --disabled-foreground: oklch(0.7 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}